# 도커 컴포즈 파일에 변경 생기면 바로 인스턴스에 반영하기
version: '3.8'

services:
  app:
    image: jdagon2000/intro-teami
    container_name: intro-app
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/logs
    networks:
      - intro-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - intro-network

networks:
  intro-network:
